<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FrontEndAngular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.50572ad9fee4c447f561.css"></head>

<body>
  <app-root>
    <!-- loading layout replaced by app after startupp -->
    <div class="app-loading">
      <div class="logo"></div>
      <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>

  </app-root>
<script src="runtime.e227d1a0e31cbccbf8ec.js" defer></script><script src="polyfills.e0a50bd2db48958ec104.js" defer></script><script src="main.47f70a66d0fe7dfa1f9b.js" defer></script></body>

</html>